
.fon-dom {
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -1;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.banner-section {
    position: relative;
    height: 80%;
}

.banner-content {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    margin: 0 10%;
    font-size: 110%;
}

.banner-info {
    width: 50%;
    color: white;
    margin-left: 30px;
    margin-top: 10%;
    background-color: rgba(128, 128, 128, 0.207);
    padding: 15px;
    border-radius: 20px;
}

.send {
    padding: 20px 40px;
    font-size: 17px;
    background: linear-gradient(rgba(73, 73, 73, 0.839), rgb(13, 13, 13));
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(246, 246, 246, 0.774);
    text-transform: uppercase;
    text-decoration: none;
}

.send:hover {
    background: linear-gradient(rgba(8, 8, 8, 0.748), rgb(41, 41, 41));
    cursor: pointer;
}

.content-info {
    margin: 20%;
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

.content-pic {
    width: 400px;
    height: 400px;
    border-radius: 5px;
}


.banner-low-pic {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);
    mask-image: linear-gradient(to bottom, black 0%, black 50%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,0.4) 85%, transparent 100%);
}

.banner-low {
    position: relative;
    height: 10%;
}

.content-page {
    margin-top: 400px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#gallery {
    display: flex;
    flex-direction: column;
}

.gallery-row {
    display: flex;
    flex-direction: row;
}

.gallery-img{
    width: 300px;
    height: 300px;
    margin: 5px;
    filter: brightness(70%);
    border-radius: 5px;
    transition: 1s;
}
.gallery-img:hover {
    filter: brightness(100%);
    transform: scale(1.5);
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.center-text {
    text-align: center;
}

.important-info {
    background-color: rgb(241, 241, 241);
    padding: 5px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.important {
    color: red;
}

.contact-box {
    display: flex;
    flex-direction: row;
    gap:25px;
    background-color: rgba(207, 207, 207, 0.337);
    padding: 30px;
    border-radius: 10px;
}

/* navbar */

html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.logo {
    background-color: rgba(128, 128, 128, 0.303);
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 20px;
    text-shadow: 2px 2px black;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.logo-pic {
    width: 90px;
}

.navbar {
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    padding: 10px;
}

.nav-links, .nav-links a {
    display: flex;
    flex-direction: row;
    gap: 10%;
    list-style-type: none;
}

.nav-links a {
    color: white;
    background: rgba(128, 128, 128, 0.228);
    padding: 5px;
    border-radius: 10px;
    font-size: 120%;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.nav-links a:hover {
    background: linear-gradient(rgba(81, 81, 81, 0.137), rgba(102, 102, 102, 0.532))
}


/* footer */

.footer {
    height: 20px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.918);
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile */

@media only screen and (max-width: 700px) {
    .banner-section {
        height: 50%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        width: 50%;
    }

    .nav-links {
        padding: 5px 0;
        gap: 8px;
    }

    .logo {
        width: 170px;
    }

    .banner-content {
        flex-direction: column;
        font-size: 100%;
        width: 90%;
        margin: 0;
    }

    .banner-info {
        margin: 0;
        padding: 0 20px;
        width: 80%;
        align-items: center;
    }

    .banner-info h1 {
        font-size: 22px;
    }

    .send {
        font-size: 15px;
        padding: 15px 30px;
        margin-top: 20px;
    }

    .content-row {
        width: 90%;
        gap: 5px;
        margin: auto auto;
        margin-top: 100px;
    }

    .content-pic {
        width: 200px;
        height: 200px;
    }

    .content-info {
        margin: 0;
    }

    .banner-low-pic {
        height: 300px;
    }

    .content-page {
        margin-top: 250px;
    }

    .contact-box {
        flex-direction: column;
    }

    .content-page {
        width: 100%;
    }
    
    .gallery-row {
        display: flex;
        flex-direction: column;
    }

    .gallery-img {
        filter: brightness(100%);
    }

}